.container{
    padding-top: 10%;
    padding-bottom: 15%;
    height: 100%;
}

.sloganText1{
    font-size: 400%;
    font-weight: bold;
    margin-bottom: 4%;
}

.sloganText2{
    margin-bottom: 4%;
}

#signUpButton{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 50px;
    font-size: 200%;
    text-align: center;
    background: rgba(89, 160, 207, 0.536);
    border: none;
}

.homePageDiv{
    background-image: url(../img/Background.png);
    height: 100%;
}

h3 {
    color: red;
}
